@charset "utf-8";
/* CSS Document */

		* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		}
		
		body{
		background: hsl(212, 45%, 89%);
		font-family: 'Outfit', sans-serif;
		}
		
		
		.main {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		}
		
		
		
		.container {
		max-width: 375px;
		width: 320px;
		padding: 16px 16px 40px;
		background: white;
		border-radius: 10px;
		box-shadow: 5px 10px 10px grey;
		}
		
		.QrCode {
		width: 100%;
		border-radius: 10px;
		}
		
		
		.caption1 {
		text-align: center;
		font-size: 1.3rem;
		font-weight: bold;
		color: black;
		margin: 20px 0px;
		}
		
		
		p {font-size:15px;color: gray; text-align:center;}

